#widgets-holder {
	display: flex;
	overflow-y: auto;
	max-height: 100%;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0.5rem 0px;

	.widget {
		border: 0;
		border-radius: 0.25rem;
		box-shadow: 0px 1px 0.2rem rgba(100, 100, 100, 0.1);
		background-color: #fff;
		position: relative;
		width: calc(100% / 3 - 1.5rem);
		height: 16rem;
		margin: 0.5rem;
		overflow-x: hidden;
		overflow-y: auto;
		text-align: center;

		.description {
			background-color: #f2f1f3;
			height: 2.5rem;
			display: flex;
			align-items: center;
			padding: 0px 0.75rem;
			position: absolute;
			bottom: 0px;
			width: 100%;
			border-radius: 0px 0px 0.25rem 0.25rem;
			border: thin solid rgb(224, 224, 224);

			.menu {
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		#time-now {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(254, 127, 127, 0.91);
			color: #fff;
			height: calc(100% - 2.5rem);
			flex-direction: column;

			.time {
				font-size: 4rem;
				font-family: $font-header;
			}
			.date {
				font-size: 2rem;
				font-family: $font-content;
			}
		}

		#most-viewed-posts {
			padding: 0;
			height: calc(100% - 2.5rem);
			overflow-y: auto;
			margin: 0;
			counter-reset: top-posts;
			list-style-type: none;


			li {
				margin: 0;
				padding: 0.5rem 0;
				cursor: pointer;
				width: 100%;
				height: calc(100% / 3);
				text-align: left;
				transition: 0.2s all;

				span {
					padding: 0 0.5rem;
				}
				
				div {
					font-size: 1.25rem;
					font-family: $font-content;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					padding: 0 0.5rem;

					&::before {
						counter-increment: top-posts;
						content: counter(top-posts) '. ';
					}
				}
				font-size: 0.9rem;

				&:hover {
					filter: brightness(0.95);
				}

			}
			li.most-viewed {
				div {
					font-family: $font-header;
					font-size: 1.5rem;
				}
				width: auto;
				background-color: rgb(171, 169, 166);
				color: #fff;
			}
			li:nth-child(2) { background-color: rgb(218, 216, 211); }
			li:nth-child(3) { background-color: rgb(251, 250, 249); }


			li.no-show {
				cursor: default !important;

				&::before {
					content: '' !important;
				}
				&:hover {
					filter: none;
				}
			}
		}
		#page-views {
			background-color: #FCC342;

			text {
				font-weight: 400;
				fill: #fff;
			}

			polyline {
				stroke: #fff/*rgb(255, 135, 0)*/;
				stroke-width: 2;
				fill: none;
			}
			.vertex {
				fill: #b4b4b4;
				stroke: #fff /*#e14242*/;
				stroke-width: 2.25;
			}
			.vertex-hidden {
				fill: transparent;
			}
			.vertex-hover {
				fill: #f09710/*#ff3e3e*/;
			}
			
			.axis {
				path, line {
					fill: none;
					stroke: #fff/*black*/;
					shape-rendering: crispEdges;
				}
			}
		}
		#browser-pie-chart {
			text {
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				text-anchor: middle;
				font-size: 0.8rem;
				fill: #fff;
			}
			.label-text {
				font-weight: 200;
				cursor: pointer;
				font-size: 0.75rem;
			}
			.sector-label {
				pointer-events: none;
			}
			.sector {
				transition: all 0.2s;

				&:hover {
					filter: brightness(112.5%) hue-rotate(20deg);
				}
			}
		}
	}
}

.widget-section {
	height: calc(100% / 3);
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 1rem;
	color: #fff;

	.widget-section-number {
		font-size: 3rem;
		font-family: $font-header;
	}
	.widget-section-description {
		text-align: left;
		margin-left: 0.75rem;
	}

	#widget-section-published, #widget-section-drafts {
		height: 100%;
		display: flex;
		align-items: center;
		padding-left: 0.5rem;
		flex-grow: 1;

		.widget-section-description {
			margin-left: 0.3rem;
		}
	}
	#widget-section-published { background-color: rgb(51, 201, 219); }
	#widget-section-drafts { background-color: rgb(65, 157, 236); padding-right: 0.75rem; }
}
.widget-section:first-child { background-color: #2ecc71; }
.widget-section:nth-child(2) { background-color: #1abc9c; }
.widget-section:last-child { padding: 0; }

svg {
	background-color: #fff;

	text {
		font-family: 'Roboto', sans-serif;
		font-size: 0.8rem;
		font-weight: 300;
	}
}
.vertex-label, .browser-label {
	pointer-events: none;
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
	background-color: rgba(245, 245, 245, 0.9);
	border-radius: 0.125rem;
	padding: 0.125rem 0.5rem;
}


@media(max-width: 1000px) {
	#widgets-holder {
		div.widget:nth-child(2) {
			width: calc(100% * 2/3 - 2rem);
		}
	}
}
@media(min-width: 1300px) {
	#widgets-holder {
		div.widget {
			width: calc(100% / 4 - 1.5rem);
		}
		div.widget:nth-child(2) {
			width: calc(100% * 1/2 - 2rem);
		}
	}
}
@media(max-width: 850px) {
	#widgets-holder {
		div.widget {
			width: calc(100% / 2 - 1.5rem);
		}
		div.widget:nth-child(2) {
			width: calc(100% / 2 - 1.5rem);
		}
	}
}