.settings-section {
	@include card(auto, calc(100% - 3rem), 1.5rem);
	padding: 0 1rem;
	box-sizing: border-box;

	h1, h2 {
		font-weight: 300;
	}

	.button {
		margin-bottom: 0.5rem;
	}
}

#settings {
	height: 100%;
	overflow-y: auto;

	td {
		vertical-align: top;
	}
}