<div class='settings-section' id='account-save'>
	<div class='button btn-green btn-load' v-bind:class='{"btn-disabled": loading}' v-on:click='saveSettings()' v-el:save>
		<i class='fa fa-refresh fa-spin loading-icon'></i>
		Save account settings
	</div>
</div>

<div id='account'>
	<div class='settings-section'>
		<h2>General</h2>
		<p>
			<table>
				<tr>
					<td>Author name: </td>
					<td><input v-model='author'></td>
				</tr>
				<tr>
					<td>Biography: <i data-title="This is displayed on your profile page" style="cursor: pointer;" class="fa fa-question-circle"></i></td>
					<td><textarea v-model='biography'></textarea></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td>
						<input type='password' placeholder='Password' v-model='password' style='margin-bottom: 0.5rem;'><br/>
						<input type='password' placeholder='Confirm password' v-model='confirmPassowrd'><br/>
						<div class='button btn-green' v-bind:class='{"btn-disabled": savingPassword}'>
							<i class='fa fa-refresh fa-spin loading-icon'></i>
							Change password
						</div>
					</td>
				</tr>
			</table>
		</p>
	</div>
</div>