
<div class='post-listings'>
	<div class='post-listing' v-on:click='selectPost(post.slug)' v-bind:class='{"selected": post.selected}	' v-for='post in posts'>
		<div class='post-title' title='{{post.title}}'>{{post.title}}</div>
		<span class='post-status' v-bind:class='[post.published ? classes.published : classes.draft]'></span>
		<div class='post-date_created'>{{post.dateString}}</div>
	</div>
	<template v-if='!posts.length'>
		<div class='no-post-selected'>
			<span>{{noPostsMessageBox}}</span>
		</div>
	</template>
</div>
<div id='post-display_card'>
	<div id='post-display_card-bar'>
		<template v-if='posts.length'>
			<div>
				<span v-on:click='editPost()'><i class='fa fa-pencil-square-o fa-fw'></i>Edit post</span>
				<span v-on:click='deletePost()'><i class='fa fa-trash-o fa-fw'></i>Delete post</span>
			</div>
			<a v-if='selected.published' href='/blog/post/{{selected.slug}}' target='_blank'>
				<i class='fa fa-external-link fa-fw' style='margin-right: 0.125rem;'></i>View on blog
			</a>
		</template>
	</div>
	<div id='post-display_card-html'>
		<template v-if='posts.length' v-html='selected.bodyHTML'></template>
		<div class='no-post-selected' v-else v-html='noPostsMessageMain'></div>
	</div>
</div>