<div id='settings'>
	<div class='settings-section'>
		<h2>General</h2>
		<p>
			<table>
				<tr>
					<td>Blog title: </td>
					<td><input v-model='blogTitle'></td>
				</tr>
				<tr>
					<td>Blog description: </td>
					<td><textarea v-model='blogDescription'></textarea></td>
				</tr>
				<tr>
					<td>Blog side-bar: <i data-title="You can format this using markdown" style="cursor: pointer;" class="fa fa-question-circle"></i></td>
					<td><textarea v-model='blogSidebar'></textarea></td>
				</tr>
			</table>
		</p>
	</div>
	<div class='settings-section'>
		<h2>Comment settings</h2>
		<p>
			<table>
				<tr>
					<td>Allow comments:</td>
					<td>
						<label class='checkbox'>
							<input type="checkbox" v-model='commentsAllowed'>
							<span></span>
						</label>
					</td>
				</tr>
				<tr>
					<td>Moderate comments: <i data-title="By selecting to moderate blog comments, all new comments will not show until individually approved" style="cursor: pointer;" class="fa fa-question-circle"></i></td>
					<td>
						<label class='checkbox'>
							<input type='checkbox' v-model='commentsModerated'>
							<span></span>
						</label>
					</td>
				</tr>
			
				<tr>
					<td>Message above comment<br/>box (optional): </td>
					<td><textarea v-model='commentsMessage'></textarea></td>
				</tr>
			</table>
		</p>
	</div>
</div>

<div class='settings-section' id='settings-save'>
	<div class='button btn-green btn-load' v-bind:class='{"btn-disabled": loading}' v-on:click='saveSettings()' v-el:save>
		<i class='fa fa-refresh fa-spin loading-icon'></i>
		Save settings
	</div>
</div>