<div id='settings'>
	<div class='settings-section'>
		<h2>General</h2>
		<p>
			<table>
				<tr>
					<td>Blog title: </td>
					<td><input v-model='general.blogTitle'></td>
				</tr>
				<tr>
					<td>Blog description: </td>
					<td><textarea v-model='general.blogDescription'></textarea></td>
				</tr>
				<tr>
					<td>Blog side-bar: <i data-title="You can format this using markdown" style="cursor: pointer;" class="fa fa-question-circle"></i></td>
					<td><textarea v-model='general.blogSidebar'></textarea></td>
				</tr>
			</table>
		</p>
		<div
			class='button btn-green btn-load'
			v-bind:class='{"btn-disabled": general.saving.general}'
			v-on:click='saveGeneralSettings("general", $event)'
			v-el:general
		>
			<i class='fa fa-refresh fa-spin loading-icon'></i>
			Save settings
		</div>
	</div>
	<div class='settings-section'>
		<h2>Comment settings</h2>
		<p>
			<table>
				<tr>
					<td>Allow comments:</td>
					<td>
						<label class='checkbox'>
							<input type="checkbox" v-model='general.commentsAllowed'>
							<span></span>
						</label>
					</td>
				</tr>
				<tr>
					<td>Moderate comments: <i data-title="By selecting to moderate blog comments, all new comments will not show until individually approved" style="cursor: pointer;" class="fa fa-question-circle"></i></td>
					<td>
						<label class='checkbox'>
							<input type='checkbox' v-model='general.commentsModerated'>
							<span></span>
						</label>
					</td>
				</tr>
			
				<tr>
					<td>Message above comment<br/>box (optional): </td>
					<td><textarea v-model='general.commentsMessage'></textarea></td>
				</tr>
			</table>
		</p>
		<div
			class='button btn-green btn-load'
			v-bind:class='{"btn-disabled": general.saving.comments}'
			v-on:click='saveGeneralSettings("comments", $event)'
			v-el:comments
		>
			<i class='fa fa-refresh fa-spin loading-icon'></i>
			Save settings
		</div>
	</div>
</div>