@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Source+Sans+Pro:300,400';

$font-header: 'Playfair Display', serif;
$font-content: 'Source Sans Pro', sans-serif;

html, body {
	width: 100%;
	height: calc(100% - 1.25rem);
	padding: 0;
	margin: 0;
	font-family: $font-content;
	padding-top: 1.25rem;
}

header a:visited, header a:active, header a{
	color: #595959;
}
a:active {
	color: #8EB7CB;
}
a:hover {
	color: #5F7F9C;
	text-decoration: underline;
}
a:visited {
	color: #477C95;
}

#color-bar {
	z-index: 2;
	width: 100%;
	height: 0.5rem;
	background-color: #78AEF3;
	top: 0;
	position: fixed;
}
#no-posts {
	text-align: center;
	position: relative;
	transform: translateY(50%);
	margin: 0px;
	top: 40%;
}

blockquote {
	background-color: rgb(233, 233, 233);
	border-left: 0.5rem solid rgb(191, 191, 191);

	p {
		padding: 0.5rem;
	}
}

header {
	font-size: 3rem;
	text-align: center;

	a {
		color:  #6C7172;
		text-decoration: none;
		font-weight: 900;
		font-family: $font-header;
	}
	div {
		font-size: 0.9rem;
		
		color: #4D4D4D;
	}
}

#content {
	display: flex;
	justify-content: center;

	.content-message {
		font-weight: 400;
		font-size: 2.5rem;
	}

	#posts {
		width: 45rem;

		.post, #comments-holder {
			overflow: hidden;
			margin: 1rem auto 3rem auto;
		}
		.post {
			img {
				margin: 0 7.5%;
				width: 85%;
			}
			.post-header {
				margin-bottom: 0.5rem;
				border-bottom: 1px solid #E9E9E9;

				.post-date-author-bar {
					color: gray;
					.post-date-created, .post-author {
						display: inline-block;
						font-size: 0.9rem;
					}
				}
				.post-title {
					font-size: 2rem;
					color: black;
					text-decoration: none;
					font-family: $font-header;
					font-weight: 400 !important;
				}
			}
			.post-body {
				text-align: justify;
				margin-bottom: 0.5rem;
				font-weight: 300;
			}
			.post-tags {
				min-height: 1.5rem;
				line-height: 1.75rem;

				a {
					border: 1px solid #ADA9A9;
					color: #5C5C5C;
					font-size: 0.9rem;
					text-decoration: none;
					background-color: #FBFBFB;
					transition: all 0.2s;
					padding: 0.1rem 0.2rem;

					&:hover {
						text-decoration: underline;
					}
				}
			}
			.post-comments {
				padding-top: 0.5rem;

				a {
					color: #5C5C5C;
					font-size: 0.9rem;
				}
			}
		}
		#pagination {
			text-align: center;
			font-size: 1.25rem;
			font-weight: 300;
			margin: 2rem;
		}
	}
	#sidebar {
		width: 17.5rem;
		margin-left: 3rem;
		margin-top: 1.5rem;

		div:first-child {
			border: thin solid rgb(233, 233, 233);
			border-radius: 0.125rem;
			padding: 0.5rem 1rem 1rem 1rem;
			min-height: 20rem;

			h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, pre, code {
				margin: 0.5rem 0;
			}

			h1, h2, h3, h4, h5, h6 {
				font-weight: 400;
			}

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

@media (max-width: 1200px) {
	#content {
		#posts {
			width: 40rem;
		}
		#sidebar {
			width: 15rem;
		}
	}
}
@media (max-width: 1050px) {
	#content {
		#posts {
			width: 35rem;
		}
	}
}

@media (max-width: 1050px) {
	#content {
		flex-direction: column;

		#posts {
			width: 80%;
			margin: 0px auto;
		}
		#sidebar {
			width: 80%;
			margin: -1rem auto 2rem;

			div:first-child {
				min-height: auto;

				blockquote {
					display: inline-block;

					p {
						margin: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 550px) {
	header {
		a {
			font-size: 2.5rem;
		}
	}

	#content {
		#posts {
			width: calc(100% - 3rem);
			margin: 0 1.5rem;

			.post {
				.post-header {
					.post-title {
						font-size: 1.5rem;
					}
				}
			}
		}
		#sidebar {
			margin: -1rem 1.5rem 2rem;
		}
	}
}

@media (max-width: 350px) {
	#content {
		#posts, #sidebar {
			width: calc(100% - 2rem);
			margin: 0 1rem;
		}
		#sidebar {
			margin: -1rem 1rem 2rem;
		}
	}
}


//@import "themes/basic";
@import "comments";