$font-content: 'Roboto', sans-serif;
$font-header:  'Montserrat', sans-serif;

$color-darkgray-d: #272626;
$color-darkgray: #4D4D4D;;
$color-gray: #606060;
$color-gray-l: #808080;
$color-lightgray: #e0e0e0;

$color-darkred: #A70C00;
$color-red: #D73C2C;

@mixin placeholder {
	::input-placeholder         {@content}
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}  
}

@mixin selected-stripe($color: #e7e7e7) {
	position: relative;
	&::before {
		content: '';
		height: 100%;
		width: 0.125rem;
		background-color: $color;
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
	}
}

@mixin card($height: auto, $width: calc(100% - 3rem), $margin: 1.5rem auto) {
	border: 0.125rem solid $color-lightgray;
	box-shadow: 0px 0px 0.1rem rgba(100, 100, 100, 0.15);
	width: $width;
	margin: $margin;
	height: $height;
	background-color: #fff;

	transition: 0.2s all;

	&:focus {
		border-color: #cecece;
		box-shadow: 0px 0px 0.125rem rgba(100, 100, 100, 0.15);
	}
}

%blogOutput {
	width: calc(100%);
	height: calc(100% - 2rem);
	border: 0;
	padding: 0.5rem;
	padding-top: 0;
	text-align: justify;
	overflow-y: auto;

	img {
		max-width: 85%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}

	blockquote {
		background-color: #e9e9e9;
		border-left: 0.5rem solid #bfbfbf;

		p {
			padding: 0.5rem;
		}
	}
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE/Edge */
	user-select: none; /* non-prefixed version, currently not supported by any browser */
}

.checkbox {
	position: relative;

	input {
		width: 2rem;

		&:checked + span {
			border-color: #32d283;
		}
		&:checked + span::before {
			margin-left: 1rem;
			background-color: #3ddea0;
		}
		&:checked:active + span::before {
			margin-left:0.85rem;
		}

		&:active + span {
			filter: brightness(0.95);
		}
		&:active + span::before {
			width: 0.95rem;
		}

		&:hover + span::before {
			border-color: #a4a4a4;
		}
	}
	span {
		width: 2.25rem;
		height: 1.25rem;
		display: flex;
		position: absolute;
		top: -0.125rem;
		align-items: center;
		background-color: #fff;
		left: 0;
		pointer-events: none;
		border: 2px solid #a1a1a1;
		border-radius: 5rem;
		transition: all 0.15s;
		box-shadow: 0 0 0.1rem rgba(175, 175, 175, 0.8) inset;

		&::before {
			content: '';
			height: 0.8rem;
			width: 0.8rem;
			background-color: #bbb;
			border-radius: 0.9rem;
			display: inline-block;
			margin-left: 0.2rem;
			transition: all 0.2s ease-out;
		}
	}
}

input, textarea {
	width: 15rem;
	font-family: Roboto;
	font-weight: 300;
	border-radius: 0.125rem;
	border: thin solid gray;
	padding: 0.25rem 0.375rem;
	font-size: 0.8rem;
	outline: none;
	&:focus {
		border-color: #1699e0;
	}
}

@import "button";
@import "top-and-navigation-bars";
@import "modals";
@import "tooltip";

@import "routes/postsNew";
@import "routes/posts";
@import "routes/comments";
@import "routes/settings";
@import "routes/dashboard";
@import "routes/design";

html, body, #app {
	margin: 0;
	padding: 0;
	font-family: $font-content;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

strong {
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

.hidden {
	display: none !important;
}

#main-container {
	width: calc(100% - 10rem);
	height: calc(100% - 2.5rem);
	position: absolute;
	left: 10rem;
	top: 2.5rem;
	font-weight: 300;
	font-size: 0.9rem;
	overflow-y: auto;
	background-color: #f9f8f4;
}